a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  margin: 0;
}
body .container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 10px;
}
body .divder {
  max-width: 420px;
  width: 100%;
  height: 1px;
  background-color: var(--color-main-black);
  border: none;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-main: #fff;
  --bg-main-grey: #f6f6f6;
  --font--color-grey: #544d4d;
  --color-main-black: #070707;
}

.header {
  padding: 25px 0 0 0;
}

.nav {
  width: 100%;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: var(--font--color-grey);
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.nav__link:hover {
  color: var(--color-main-black);
}

.nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 32px 0 0 0;
  background-color: var(--font--color-grey);
}

@media (max-width: 480px) {
  .header {
    display: none;
  }
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -10px;
  background-color: var(--color-main-black);
  height: 1px;
  transition: right 0.22s;
}

.nav__link:hover::after {
  right: 0;
}

.home {
  text-align: center;
  padding: 0 0 70px 0;
}
.home__title {
  font-size: 45px;
  font-weight: 700;
  margin-top: 45px 0 25 0;
}
.home__description {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 35px 0;
}
.home__img {
  width: 100%;
  height: 535px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .home {
    text-align: left;
  }
  .home__title {
    max-width: 250px;
    font-size: 32px;
  }
  .home__description {
    font-size: 14px;
  }
}
.about {
  background-color: var(--bg-main-grey);
  padding: 60px 30px 100px;
  text-align: center;
  color: var(--color-main-black);
}
.about__title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 42px 0;
}
.about__subtitleru {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto 15px;
  max-width: 780px;
}
.about__descriptionru {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px;
  text-align: justify;
  max-width: 780px;
}
.about__subtitleen {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 15px auto 15px;
  max-width: 780px;
}
.about__descriptionen {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  text-align: justify;
  max-width: 780px;
}

@media (max-width: 480px) {
  .about__descriptionru,
  .about__descriptionen,
  .about__subtitleru,
  .about__subtitleen {
    font-size: 14px;
  }
}
.history {
  padding: 65px 0 70px;
  text-align: center;
  color: var(--color-main-black);
}
.history__title {
  font-size: 34px;
  font-weight: 700;
}
.history__photo {
  width: 100%;
  max-width: 950px;
  height: 655px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 60px 0 0 0;
}
.history__description {
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0 0 0;
}

@media (max-width: 480px) {
  .history__photo {
    height: 480px;
  }
  .history__description {
    font-size: 14px;
  }
  .history {
    padding: 50px 0 70px;
  }
}
.portfolio {
  background-color: var(--bg-main-grey);
  text-align: center;
  padding: 80px 20px 100px;
  color: var(--color-main-black);
}
.portfolio__picture {
  margin: 75px 0 40px;
  width: min(100%, 950px);
  height: min(100%, 630px);
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio__title {
  font-size: 34x;
  font-weight: 700;
}
.portfolio__description {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .portfolio__picture {
    margin: 50px 0 30px;
  }
  .portfolio__discription {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */